/* DynamicKeyValue.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding se incluya en el cálculo del ancho */
}

.indicadores-container {
  display: flex;
  justify-content: space-between; /* Espaciado entre los indicadores */
  
  margin-bottom: 10px;
}

.indicador {
  font-weight: bold;
  width: 48%; /* Asegura que los indicadores ocupen el mismo espacio */
}

.pares-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.par-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.pares-lista {
  max-height: 200px;
  overflow-y: auto;
  width: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #5b5959;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
