/* styles.module.css */

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #f4f7fc;
    color: #333;
  }
  
  h1 {
    font-size: 28px;
    color: #34495e;
    margin-bottom: 10px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 220px;
    height: 100vh;
    background-color: #34495e;
    color: white;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #ecf0f1;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: #ecf0f1;
  }
  
  .sidebar ul li:hover {
    background-color: #1abc9c;
  }
  
  .sidebar ul li.active {
    background-color: #16a085;
    font-weight: bold;
  }
  
  /* Dashboard Content Styles */
  .dashboard {
    display: flex;
  }
  
  .content {
    margin-left: 240px;
    padding: 30px;
    flex-grow: 1;
  }
  
  .content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .content div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }
  
  .content div:hover {
    transform: translateY(-5px);
  }
  
  /* Buttons and links in content */
  .content div a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .content div a:hover {
    color: #2980b9;
  }
  

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Puedes ajustar esta altura según donde utilices el spinner */
  }
  
  .spinner {
    width: 50px; /* Tamaño del spinner */
    height: 50px; /* Tamaño del spinner */
    border: 6px solid rgba(0, 123, 255, 0.2); /* Color del borde */
    border-top-color: #007bff; /* Color del borde superior */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animación de rotación */
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }